[Desktop Entry]
Type=Application
Name=Install ArchMergeD
Comment=Installer for ArchMergeD
Categories=Utility;
Exec=sudo -E calamares
Icon=arco-calamares
