[Desktop Entry]
Type=Application
Name=Install ArchMergeD
Comment=Installer for ArchMergeD
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Arc sudo -E calamares
Icon=arco-calamares
