[Desktop Entry]
Type=Application
Name=Install ArchMergeD
Comment=Installer for ArchMergeD
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Arc calamares_polkit
Icon=arco-calamares
