[Desktop Entry]
Type=Application
Name=Install ArcoLinuxD
Comment=Installer for ArcoLinuxD
Categories=Utility;
Exec=sudo -E calamares
Icon=arco-calamares
