[Desktop Entry]
Type=Application
Name=Install ArcoLinuxD
Comment=Installer for ArcoLinuxD
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Arc calamares_polkit
Icon=arco-calamares
